.removeTodo{
  margin-right: 1px;
  margin-left: 18px;
  margin-bottom: 6px;
  outline: none;
  box-shadow: none;
  border-width: 2px;
  border-radius: 3px;
  border-style: solid;
  padding: 2px;
  color: rgba(203,20,32,0.4);
  border-color: rgba(203,20,32,0.4);
  background-color: transparent;
}
.todoWrapper {
  text-align: left;
  margin-bottom: 10px;
  width: 80%;
  border:none;
  margin-right: 15px;
  margin-top: 9px;
  padding: 4px;
  line-height: 14px;
}
